.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-one-fourth {
  width: 25%;
}

.column-one-third {
  width: 33.3%;
}

.column-two-third {
  width: 66.6%;
}

img {
  width: 100%;
}

* {
  font-family: sans-serif;
}
