header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid;
  border-color: rgb(236, 236, 236);
  border-width: 1px;
  justify-content: center;
}

.content {
  width: 100%;
  padding-left: 67px;
  padding-right: 67px;
}

.navContent {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;

  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLink {
  padding-left: 50px;
  white-space: nowrap;
}

.contactUs {
  border-radius: 4px;
  background-color: rgb(40, 68, 100);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerContent {
  color: white;
}

.footerBottom {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footLinks {
  display: flex;
  align-items: center;
}

.footLink {
  padding-right: 50px;
  white-space: nowrap;
}

.greyText {
  color: rgb(82, 83, 81);
}

.lightGreyText {
  color: rgb(163, 163, 163);
}

.whiteText {
  color: white;
}

.avenir {
  font-family: 'Avenir', sans-serif;
}

.tiempos {
  font-family: 'Tiempos Headline', sans-serif;
}

.mediumWeight {
  font-size: medium;
  font-weight: 500;
}

.heavyWeight {
  font-size: medium;
  font-weight: 800;
}
