header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid;
  border-color: rgb(236, 236, 236);
  border-width: 1px;
}

.canvasTitle {
  height: 20px;
  margin-top: 20px;
  margin-bottom: 17px;
  margin-left: 40px;
}

.headerButtons {
  margin-top: 12px;
  position: absolute;
  right: 0;
}

.headerButton {
  background-color: white;
  border: none;
  font-family: 'Avenir', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.contactUs {
  background-color: rgb(40, 68, 100);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Avenir', sans-serif;
  padding: 10px;
}

.overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.EMRRow {
  margin-top: 50px;
  background-image: url('./images/hero.jpg');
  background-size: 100%;
  margin-bottom: 50px;
}

.EMRCont {
  width: 50%;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.EMRCont h1 {
  margin-top: 0;
  font-size: 28px;
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.EMRCont p {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.getStarted {
  background-color: rgb(40, 68, 100);
  border: none;
  border-radius: 4px;
  color: white;
  font-family: 'Avenir', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cliniciansRow {
  background-color: rgb(250, 250, 250);
}

/* .cliniciansRow h1 {
  margin-top: 50px;
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: normal;
} */

.cliniciansRow h2 {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

/* .cliniciansRow p {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
} */

.officeCards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  border-bottom: solid;
  border-color: rgb(236, 236, 236);
  border-width: 1px;
}

.officeCard {
  flex-basis: 50%;
}

.column-half {
  width: 50%;
}

.column-quarter {
  width: 25%;
}

.titleSub h1 {
  margin-top: 40px;
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.titleSub p {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.readyRowButton {
  display: flex;
  justify-content: flex-end;
}

.readyRow {
  margin-bottom: 40px;
}

.readyRow .getStarted {
  margin-top: 70px;
}

.footerTop {
  background-color: rgb(82, 83, 81);
  padding-top: 80px;
  padding-bottom: 60px;
  padding-right: 80px;
  padding-left: 80px;
}

.footerTop p {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.footerTop img {
  width: 110px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.footerTop h2 {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.footerBot h2 {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.darkText {
  color: rgb(82, 83, 81);
}

.blueText {
  color: rgb(40, 68, 100);
}

.whiteText {
  color: white;
}
