/* ----------------------------- CONTENT ----------------------------- */


/* ----------------------------- GENERAL CONTENT ----------------------------- */
.content {
  width: 100%;
  padding-left: 67px;
  padding-right: 67px;
}

.navContent {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greyedBackground {
  background-color: rgba(127, 127, 127, 0.4);
  height: 100%;
  width: 100%;
}

.lightGreyBackground {
  background-color: rgb(250, 250, 250);
  height: 100%;
  width: 100%;
}

.buttonMedium {
  border-radius: 4px;
  background-color: rgb(40, 68, 100);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  text-align: center;
  white-space: nowrap;
}

p {
  line-height: 24px;
}

.bottomBorder {
  border-bottom: solid;
  border-color: rgb(236, 236, 236);
  border-width: 1px;
}

/* ----------------------------- HEADER ----------------------------- */
header {
  display: flex;
  justify-content: center;
}

.navLink {
  white-space: nowrap;
}

.contactUs {
  border-radius: 4px;
  background-color: rgb(40, 68, 100);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ----------------------------- FOOTER ----------------------------- */
.footerTop {
  background-color: rgb(82, 83, 81);
}

.topFooterContents {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footerBottom {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footLink {
  padding-right: 50px;
  white-space: nowrap;
}

/* ----------------------------- ALIGNMENT ----------------------------- */
.wrap {
  display: flex;
  flex-wrap: wrap;
}

.column-55 {
  width: 55%;
}

.column-half {
  width: 50%;
}

.column-quarter {
  width: 25%;
}

.centerVertical {
  display: flex;
  align-items: center;
}

.centerTextHorizontal {
  text-align: center;
}

.centerHorizontal {
  /* display: flex;
  justify-content: space-between; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.marginVerticalLarge {
  padding-top: 80px;
  padding-bottom: 80px;
}

.marginVerticalMedium {
  margin-top: 40px;
  margin-bottom: 40px;
}

.marginHorizonalLarge {
  margin-left: 80px;
  margin-right: 80px;
}

.marginHorizonalMedium {
  margin-left: 40px;
  margin-right: 40px;
}

/* ----------------------------- TEXT ----------------------------- */
.darkGreyText {
  color: rgb(82, 83, 81);
}

.greyText {
  color: rgb(110, 110, 110);
}

.lightGreyText {
  color: rgb(163, 163, 163);
}

.whiteText {
  color: white;
}

.avenir {
  font-family: 'Avenir', sans-serif;
}

.tiempos {
  font-family: 'Tiempos Headline', sans-serif;
}

.smallWeight {
  font-size: small;
  font-weight: 500;
}

.mediumWeight {
  font-size: medium;
  font-weight: 500;
}

.heavyWeight {
  font-size: medium;
  font-weight: 800;
}

.superHeavyWeight {
  font-size: 36px;
  font-weight: 500;
}

.mediumSpace {
  margin-top: 10px;
  margin-bottom: 10px;
}

.smallSpace {
  margin-top: 4px;
  margin-bottom: 4px;
}
